<html>
    <body>
    
        <center><h1>Student Record</h1></center>
        <form action="saveData">
            <table align="center">
                <tr>
                    <td>Name:</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>
                    <input type="text" name="age">
                </td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>
                    <input type="text" name="mobile">
                </td>
            </tr>
            <tr>
                <td>address:</td>
                <td>
                    <textarea name="address"></textarea>
                </td>
            </tr>
            <tr>
                <td>marks</td>
                <td>
                    <input type="text" name="marks">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btn" value="Save">
                    <a href="viewall" style="color: red; font-size:20px;">View All Record</a>
                </td>
            </tr>

            </table>
        </form>
    </body>
</html>